@charset "utf-8";

html{
    background-color: #f3c792;
    font-size: 62.5%;/* 16px x 62.5% = 10px*/
}

img{
    max-width:100%;
    height: auto;
}

.text-center{
  text-align: center;
}

h3.text-center{
    padding: 50px;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    font-size: 3.0rem;
    font-weight: 200;
}

body{
    font-family: 'Open Sans', sans-serif ,'Kiwi Maru', serif;
    font-size: 2.0rem;
}

.table__frame{
        width:600px;
        margin-left:auto;
        margin-right:auto 
    }
 
  .table__frame02{
      padding-top: 40px;
    width:350px;
    margin-left:auto;
    margin-right:auto 
    }

    

    .win{
        font-size:5.0rem ;
        color: blueviolet;
        font-style: oblique;
    }